<script type="text/x-handlebars" id="feeds">
  <div class="container-fluid">
  <h2>Rss Feeds Reader</h1>
  <div class="row">

    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li>{{#link-to 'feeds'}}Home{{/link-to}}</li>
        {{#each feed in filteredContent}}
          {{#if feed.id}}
            <li>{{#link-to 'feeds.show' feed.id}}{{feed.name}}{{/link-to}}</li>
          {{else}}
            <li>{{#link-to 'feeds.new'}}{{feed.name}}{{/link-to}}</li>
          {{/if}}
        {{/each}}
      </ul>
      {{link-to 'Add a New Feed' 'feeds.new' class="btn btn-primary"}}
    </div>

    <div class="col-md-10">
      <div class="container">
        {{outlet}}
      </div>
    </div>
  </div>
  </div>
</script>

<script type="text/x-handlebars" id="feeds/index">
  <h4>Please Select/Create a New Feed</h4>
  <hr>
</script>

<script type="text/x-handlebars" id="feeds/show">
  <h3>{{name}}</h3>
  {{#if isEditing}}
    <hr>
    <h4>Edit Rss Feed</h4>
    {{partial 'feed/edit'}}
  {{else}}
    <div id="feed-edit-control">
      <button {{action 'edit'}} class="btn btn-xs">Edit</button>
      <button {{action 'delete'}} class="btn btn-xs">Delete</button>
      <button {{action 'loadRssFeed'}} class="btn btn-xs">Reload Rss</button>
      <span id="loader"></span>
      <span class="pull-right">
        <button {{action 'collapseAll'}} class="btn btn-xs">Collapse All</button>
        <button {{action 'expandAll'}} class="btn btn-xs">Expand All</button>
      </span>
    </div>
  {{/if}}
  <hr>
  {{view RssReader.LoadRssFeedView}}
    {{#unless isFeedEmpty}}
      <div class="panel-group">
        {{#each item in feedData}}
          {{view RssReader.RssFeedItemView contentBinding="item"}}
        {{/each}}
      </div>
    {{else}}
      <h4>No Feed Found For Url - "{{url}}"</h4>
    {{/unless}}
</script>

<script type="text/x-handlebars" id="feeds/new">
  <h3>{{name}}<h3>
  <hr>
  <h4>Enter a New Rss Feed</h4>
  {{partial 'feed/edit' }}
</script>

<%# Partials %>

<script type="text/x-handlebars" id="feed/_edit">
  <div class="form-inline">
    <div class="form-group">
      <label>Name :</label>
        {{view Ember.TextField valueBinding="name" class="form-control"}}
      <label>Url :</label>
        {{view Ember.TextField valueBinding="url" class="form-control"}}
    </div>
    <div class="form-group">
      <button {{action 'submit'}} class="btn btn-success btn-xs">Submit</button>
      <button {{action 'cancel'}} class="btn btn-xs">Cancel</button>
    </div>
  </div>
</script>

<%# View Templates %>

<script type="text/x-handlebars" id="feed_item">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <h4>
          <a {{bind-attr href='item.link'}} class="btn btn-info btn-xs" target="_blank">Link</a> -
          {{#link-to 'feeds.show' id}}
            <span {{action 'collapseToggle' view._parentView.contentIndex}}>{{{truncate item.title 90}}}</span>
          {{/link-to}}
          <span class="pull-right">
            <i>{{moment item.publishedDate}}</i>
          </span>
        </h4>
      </div>
    </div>
    <div {{bind-attr id='view._parentView.contentIndex'}} class="panel-body collapse in">
      <div class="itemContent">{{{item.content}}}</div>
    </div>
  </div>
</script>

