<script type="text/x-handlebars" id="feeds">
  <div class="container-fluid">
  <h2>Rss Feeds Reader</h1>
  <div class="row">

    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li>{{#link-to 'feeds'}}Home{{/link-to}}</li>
        {{#each feed in filteredContent}}
          {{#if feed.id}}
            <li>{{#link-to 'feeds.show' feed.id}}{{feed.name}}{{/link-to}}</li>
          {{else}}
            <li>{{#link-to 'feeds.new'}}{{feed.name}}{{/link-to}}</li>
          {{/if}}
        {{/each}}
      </ul>
      {{link-to 'Add a New Feed' 'feeds.new' class="btn btn-primary"}}
    </div>

    <div class="col-md-10">
      {{outlet}}
    </div>
  </div>
  </div>
</script>

<script type="text/x-handlebars" id="feeds/index">
  <h4>Please select/create a new Feed</h4>
  <hr>
</script>

<script type="text/x-handlebars" id="feeds/show">
  <h4>{{name}}</h4>
  {{#if isEditing}}
    {{partial 'feed/edit'}}
  {{else}}
    <button {{action 'edit'}} class="btn btn-xs">Edit</button>
    <button {{action 'delete'}} class="btn btn-xs">Delete</button>
  {{/if}}
  <button {{action 'loadRssFeed'}} class="btn btn-xs">Reload Rss</button>
  <hr>
  {{view RssReader.RssFeedView}}
</script>

<script type="text/x-handlebars" id="feeds/new">
  {{partial 'feed/edit' }}
</script>

<%# Partials %>

<script type="text/x-handlebars" id="feed/_edit">
  <h4>Enter a Rss Feed</h4>

  <label>Name</label>
    {{view Ember.TextField valueBinding="name"}}
  <label>Url</label>
    {{view Ember.TextField valueBinding="url"}}

  <button {{action 'submit'}} class="btn btn-success">Submit</button>
  <button {{action 'cancel'}} class="btn btn-error">Cancel</button>
</script>

