@import "bootstrap";
@import "font-awesome";

#scrollUp {
  bottom: 20px;
  right: 30px;
  width: 40px; /* Width of image */
  height: 40px; /* Height of image */
  background: image-url("top.png") no-repeat;
}

